body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


#Modal{
  position: absolute;
    width: 662px;
    height: 434px;
  
    background: #FFFFFF;
    border-radius: 19px;

}


  .Day-box{
    width: 100%;
  }

